.wrap_card {
	display: flex;
	width: 250px;
	height: 130px;
	background-color: #274392;
	padding: 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: box-shadow 0.5s ease, background-color 1s ease-in-out;
	&:hover {
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.6) inset;
		background-color: rgb(53, 86, 179);
		border-radius: 5px;
	}
	.wrap_img {
		width: 70px;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 100%;
			height: 80%;
			object-fit: contain;
		}
		.img_info {
			color: rgb(46, 202, 46);
			font-weight: 600;
		}
	}
	.wrap_content {
		margin-left: 20px;
		color: #89a1e2;
		overflow: hidden;
		.line {
			display: flex;
			margin-bottom: 10px;
			span {
				margin-right: 15px;
			}
			span:first-child {
				font-weight: 600;
			}
		}
	}
}
