.section_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		color: #89a1e2;
		font-size: 1.2em;
		margin-bottom: 20px;
	}
	.input_group {
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: 20px;
		label {
			color: rgb(46, 202, 46);
			margin-right: 20px;
		}
		input {
			border: 1px solid #89a1e2;
			border-radius: 5px;
			color: #89a1e2;
			padding: 5px 10px;
			background-color: #182753;
		}
	}
	.btn_group {
		display: flex;
		justify-content: space-around;
		margin-bottom: 50px;
		width: 100%;
		// justify-content: center;
		button {
			margin-right: 25px;
			background-color: #274392;
			border: none;
			color: rgb(46, 202, 46);
			padding: 8px 5px;
			cursor: pointer;
			transition: background-color 1s ease, color 0.5s ease-in-out;
			&:hover {
				background-color: rgb(46, 202, 46);
				color: #274392;
			}
		}
		.active_btn {
			background-color: rgb(46, 202, 46);
			color: #274392;
		}
	}
	.main_info {
		width: 100%;
		display: flex;
		justify-content: center;
		color: rgb(46, 202, 46);
	}
}
