.main_page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section_card {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
body {
  background-color: #182753;
}
